@using _71BootlegStore.ViewModels
@model ReportVM

<div class="border border-slate-200/60 rounded-md p-5">
<div class="grid grid-cols-12 gap-2">
    <div class="col-span-12 md:col-span-12 xl:col-span-12 2xl:col-span-12">
        <form id="frmQuery" method="get">
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-12 md:col-span-4 xl:col-span-2 2xl:col-span-2">
                    <label class="form-label" asp-for="@Model.FromDate"></label>
                    <input type="text" class="datepicker form-control" asp-for="@Model.FromDate" data-single-mode="true" />
                </div>
                <div class="col-span-12 md:col-span-4 xl:col-span-2 2xl:col-span-2">
                    <label class="form-label" asp-for="@Model.ToDate"></label>
                    <input type="text" class="datepicker form-control" asp-for="@Model.ToDate" data-single-mode="true" />
                </div>
                <div class="col-span-12 md:col-span-4 xl:col-span-2 2xl:col-span-2">
                    <label class="form-label">&nbsp;</label><br />
                    <button type="submit" class="btn btn-outline-secondary mx-1">
                        <i class="fa-solid fa-magnifying-glass mr-1"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-span-12 md:col-span-12 xl:col-span-12 2xl:col-span-12 mt-3">
        <form id="frmPrint" method="post">

            <input type="hidden" asp-for="@Model.FromDate" id="frmPrintFromDate" />
            <input type="hidden" asp-for="@Model.ToDate" id="frmPrintToDate" />

            <div class="text-center">
                @* <button type="button" id="btnPrint" class="btn btn-outline-danger inline-block mr-2">
                    <i class="fa-regular fa-file-pdf"></i> View PDF
                </button> *@
                <button type="button" id="btnExport" class="btn btn-outline-success inline-block">
                    <i class="fa-regular fa-file-excel"></i> Export Excel
                </button>
            </div>
        </form>
    </div>
</div>
</div>